<!DOCTYPE html>
<html>
<head>
	<title>Seaeve&copy;</title>
	<link rel="stylesheet" type="text/css" href="Templates/CSS/index.css">
	<link rel="stylesheet" type="text/css" href="Templates/CSS/SeaeveSTD.css">
</head>
<body>
	<div class="Contenedor-Principal">
		<div class="Contenedor-Buscador">
			<div class="Ingresar">
				Ingresar
			</div>
			<div class="Registrarse">
				Registrate
			</div>
			<div class="Logo-1">

			</div>
			<div class="Buscador-Fondo-1">
				
			</div>
			<form>
				<input type="text" class="Caja-De-Texto"/>
			</form>
			<div class="Boton-1">
				Buscar
			</div>
			<div class="Fecha">
				<div class="Dia-Numero">
					00
				</div>
				<div class="Dia-Texto">
					Lunes
				</div>
			</div>
			<div class="Hora">
				<div class="Horas">
					00
				</div>
				<div class="Minutos">
					00
				</div>
				<div class="AM-PM">
					AM
				</div>
			</div>
		</div>
		<div class="Barra-Categorias">
			<div class="Categorias">
				Categor&iacute;as:
			</div>
			<div class="Categorias">
				Eventos de paga
				<div class="Flecha-Verde">
				
				</div>
			</div>
			<div class="Categorias">
				Eventos gratuitos
				<div class="Flecha-Verde">
				
				</div>
			</div>
			<div class="Categorias">
				Otros
				<div class="Flecha-Verde">
				
				</div>
			</div>
		</div>
		<div class="Stripe-1">
			
		</div>
		<div class="Stripe-2">
			
		</div>
		<div class="Stripe-3">
			
		</div>
		<div class="Stripe-4">
			
		</div>
		<div class="Mapa">
			
		</div>
		<div class="Crear-Evento">
			Crear Evento
		</div>
		<div class="Contactar">
			Contactar
		</div>
		<div class="Compartir">
			Compartir
		</div>
		<div class="Contenedor-Eventos">
			<div class="Contenedor-Privado">
				<div class="Cabeza-Privado">

				</div>
				<div class="Privado">
					
				</div>
				<div class="Privado">
					
				</div>
			</div>
			<div class="Contenedor-Publico">
				<div class="Cabeza-Gratuitos">
					
				</div>
				<div class="Gratuito">
					
				</div>
				<div class="Gratuito">
					
				</div>
			</div>
		</div>
		<div class="Patrocinadores">
			
		</div>
		<div class="Expansor-Publicidad">
			<div id="{% block title %}{% endblock %}" class="Contenedor-de-publicidad">
				{% block content %}
				<a class="Publicidad" href="">
					<img class="Imagen-Publicidad" src="http://upload.wikimedia.org/wikipedia/commons/5/5a/Bosque.jpg"/>
				</a>
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>